@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
html {
	font-size: 10px;
	font-family: outfit, sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//Variables
$fullWidth: 100vw;
$fullHeight: 100vh;
$bodyBackgroundColor: #0d192b;
$cardContainerWidth: 33rem;
$cardContainerHeight: 55rem;
$cardContainerBgColor: #14253d;
$cardContainerBorderRadius: 2rem;
$itemPictureWidth: 28rem;
$itemPictureHeight: 28rem;
$itemPictureBorderRadius: 1rem;
$h1FontColor: #fff;
$h1FontSize: 2.3rem;
$pFontColor: #8bacda;
$pFontSize: 1.8rem;
$SvgPaddingLeft: 1rem;
$priceFontColor: #00fff7;
$creatorInfoContainerImgBorderRadius: 50%;
$creatorInfoContainerImgWidth: 6rem;
$creatorInfoContainerImgHeight: 6rem;
$creatorInfoContainerImgMarginRight: 1.5rem;
$hrColor: #2f415b;
$hrHeight: 0.2rem;
$overlayHoverBottom: 40%;
$overlayHoverLeft: 50%;
$overlayHoverWidth: 5rem;
$overlayHoverHeight: 5rem;
$overlayHoverBg: #00fff781;
@mixin createFlex($flexDirection, $flexWrap, $flexJustify, $flexAlign) {
	display: flex;
	flex-flow: $flexDirection $flexWrap;
	justify-content: $flexJustify;
	align-items: $flexAlign;
}
@mixin CreateShadow($y, $x, $blur, $color) {
	box-shadow: $y $x $blur $color;
}

body {
	background-color: $bodyBackgroundColor;
	height: $fullHeight;
	width: $fullWidth;
	@include createFlex(row, nowrap, center, center);
	#cardContainer {
		width: $cardContainerWidth;
		height: $cardContainerHeight;
		background-color: $cardContainerBgColor;
		border-radius: $cardContainerBorderRadius;
		@include CreateShadow(0rem, 1.5rem, 8rem, #151e27);
		@include createFlex(column, nowrap, space-evenly, center);
		#imgContainer {
			position: relative;
		}
		.itemPicture {
			width: $itemPictureWidth;
			height: $itemPictureHeight;
			border-radius: $itemPictureBorderRadius;
		}
		#overlayHoverContainer {
			position: absolute;
			width: $itemPictureWidth;
			top: 0;
			opacity: 0;
			height: $itemPictureHeight;
			border-radius: $itemPictureBorderRadius;
			background-color: $overlayHoverBg;
			transition: opacity 0.5s ease;
		}
		#overlayHover {
			width: $overlayHoverWidth;
			height: $overlayHoverHeight;
			opacity: 1;
			position: absolute;
			left: $overlayHoverLeft;
			bottom: $overlayHoverBottom;
			transform: translateX(-50%);
		}
		#overlayHoverContainer:hover {
			opacity: 1;
		}
		#mainHeader {
			color: $h1FontColor;
			width: $itemPictureWidth;
			font-size: $h1FontSize;
			font-weight: 600;
			transition: color 0.5s ease;
		}
		#mainHeader:hover {
			color: $priceFontColor;
		}
		#mainText {
			color: $pFontColor;
			width: $itemPictureWidth;
			font-size: $pFontSize;
			font-weight: 400;
		}
		#priceTimeContainer {
			@include createFlex(row, nowrap, space-between, center);
			width: $itemPictureWidth;
			font-size: $pFontSize;
			p {
				img {
					padding-right: $SvgPaddingLeft;
					vertical-align: middle;
				}

				#logo {
					color: $priceFontColor;
					font-weight: 400;
				}
				#time {
					color: $pFontColor;
					font-weight: 300;
				}
			}
		}
		#hr {
			background-color: $hrColor;
			height: $hrHeight;
			width: $itemPictureWidth;
			border-radius: 1000px;
		}
		#creatorInfoContainer {
			@include createFlex(row, nowrap, flex-start, center);
			width: $itemPictureWidth;
			font-size: 1.8rem;
			font-weight: 300;
			color: $pFontColor;

			img {
				border-radius: $creatorInfoContainerImgBorderRadius;
				width: $creatorInfoContainerImgWidth;
				height: $creatorInfoContainerImgHeight;
				margin-right: $creatorInfoContainerImgMarginRight;
			}
			#developerName {
				color: #fff;
				font-weight: 400;
				transition: color 0.5s linear;
			}
			#developerName:hover {
				color: $priceFontColor;
			}
		}
	}
}
